    <!-- Required Open Graph Info -->
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{end}}{{end}}" />
    <meta property="og:type" content="{{if .Params.type}}{{.Params.type}}{{else}}website{{end}}" />
    <meta property="og:url" content="{{if eq .Params.parent "blog" }}{{.Site.Params.blog}}{{else}}{{if eq .Params.parent "project" }}{{.Site.Params.project}}{{else}}{{.Site.BaseURL}}{{end}}{{end}}{{ .RelPermalink }}" />
    {{ if .Params.seoimage }}
    <meta property="og:image" content="{{if eq .Params.parent "blog" }}{{.Site.Params.blog}}{{else}}{{if eq .Params.parent "project" }}{{.Site.Params.project}}{{else}}{{.Site.BaseURL}}{{end}}{{end}}{{.Params.seoimage}}" />
    {{end}}
