<!-- image -->
<figure {{ with .Get "class" }}class="{{.}}"{{ end }} {{ if isset .Params "center" }}style="text-align: center;"{{ end }}>
    {{ with .Get "link"}}<a target="_blank" href="{{.}}">{{ end }}
        <img src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }}
            {{ if isset .Params "width"}}width="{{ .Get "width"}}"{{end}}
            {{ if isset .Params "height"}}height="{{ .Get "height"}}"{{end}}/>
    {{ if .Get "link"}}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <h6><em>{{ .Get "title" }}</em></h6>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<p>
        {{ .Get "caption" }}
        {{ with .Get "attrlink"}}<a target="_blank" href="{{.}}"> {{ end }}
            {{ .Get "attr" }}
        {{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>
<!-- image -->
