<code class="language-klipse"
  data-external-libs="https://raw.githubusercontent.com/mikera/core.matrix/develop/src/main/clojure"
  data-preamble="(ns toto.matrices-algebra (:require [clojure.core.matrix :refer [shape]]))">
(shape [[1 2] [3 4]])
</code>
  <!-- data-external-libs="https://raw.githubusercontent.com/thinktopic/aljabr/master/src,https://raw.githubusercontent.com/mikera/core.matrix/develop/src/main/clojure" -->
<!-- <code class="language-klipse" data-external-libs="https://raw.githubusercontent.com/viebel/math.combinatorics/master/src/main/clojure"> -->
<!-- (ns my.combinatorics -->
  <!-- (:require [clojure.math.combinatorics :refer [cartesian-product]])) -->
<!--  -->
<!--  -->
<!-- (defn max ([] nil) ([&amp; s] (apply clojure.core/max s))) -->
<!-- (defn max-key ([k] nil) ([k &amp; s] (apply clojure.core/max-key k s))) -->
<!-- </code> -->
<!-- <br> -->
